.loginForm {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 80px); 
  background-color: #f5f5f5; 
      padding: 20px; }
.container {
  background-color: #ffffff; 
  border-radius: 15px; 
  max-width: 500px; 
  padding: 20px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
  width: 50%; 
}


.logo {
  margin-bottom: 20px; 
  text-align: center;
}


.loginImg {
  width: 100%; 
  max-width: 250px; 
  border-radius: 15px; 
  object-fit: cover; 
}


.inputs {
  width: 100%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; 
}

.email,
.password {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #d1d1d1; 
  border-radius: 8px; 
  background-color: #fafafa;  
  color: #333;  
  font-size: 16px; 
  margin-bottom: 15px; 
  transition: border-color 0.3s ease, background-color 0.3s ease; }

.email::placeholder,
.password::placeholder {
  color: #aaa; 
  font-size: 14px;} 


.email:focus,
.password:focus {
  background-color: #ffffff; 
  border-color:  #99C2A2;
  outline: none;
}

.Btns {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  width: 100%; 
}
.loginBtn {
  background-color: #99C2A2; 
  color: #ffffff; 
  border: none; 
  padding: 12px 30px;
  border-radius: 8px;
  cursor: pointer; 
  font-size: 16px; 
  font-weight: bold;
  transition: background-color 0.3s ease; 
  margin-top: 20px; 
}

.loginBtn:hover {
  background-color:  #E4F0D7; 
}


.signUpBtn {
  color: #99C2A2;
  text-decoration: none; 
  font-size: 14px; 
  margin-top: 10px; 
}

.signUpBtn:hover {
  text-decoration: underline; 
}

.signUpText {
  display: block;
  margin-top: 10px; 
}


@media (max-width: 768px) {
  .container {
    width: 90%; 
    padding: 15px; 
  }

  .loginImg {
    max-width: 200px;
  }

  .inputs {
    margin-top: 10px; 
  }

  .loginBtn {
    width: 100%; 
  }
}
