.counter {
    background-color: #99C2A2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
   

}

.counters {
    display: flex;
    justify-content: space-around;
    width: 90%;
    max-width: 1200px;
}


.number {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    animation: countUp 2s ease-in-out forwards;
}

.content {
    font-size: 1.2rem;
    color: white;
}

@keyframes countUp {
    from {
        content: '0';
    }
    to {
        /* Final number is set by JavaScript */
    }
}
