.exploreMenu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin-top: 20px;
  }
  .exploreMenuList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0;
    overflow-x: scroll;
  }
  .exploreMenuList::-webkit-scrollbar {
    display: none;
  }
  .exploreMenuListItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .exploreMenuListItem img {
    width: 80px; 
    height: 80px; 
    border-radius: 50%; 
    object-fit: cover; 
    cursor: pointer;
    transition: 0.3s;
    border: 5px solid #99C2A2;
  }
  
  .exploreMenuListItem .depName {
    color: #7A918D;
    font-weight: 500;
    margin-top: 10px;
    cursor: pointer;
  }
  @media (max-width: 1050px) {
    .exploreMenuText {
      max-width: 100%;
      font-size: 14px;
    }
  }














