.exploreMenu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 20px;
}

.exploreMenuList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0px;
    overflow-x: scroll;
}

.exploreMenuList::-webkit-scrollbar {
    display: none;
}

.exploreMenuListItem img {
    width: 7.5vw;
    min-width: 60px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.1s;
}

.depName{
    color: #7A918D;
    font-weight: 500;
}
@media (max-width: 1050px) {
    .exploreMenuText {
        max-width: 100%;
        font-size: 14px;
    }
}
