.exploreMenu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
  .exploreMenuList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0;
    overflow-x: scroll;
  }
  .exploreMenuList::-webkit-scrollbar {
    display: none;
  }
  .exploreMenuListItem {
    display: flex;
    flex-direction: column; /* Align items vertically */
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .exploreMenuListItem img {
    width: 80px; /* Fixed width for consistency */
    height: 80px; /* Fixed height for consistency */
    border-radius: 50%; /* Make image circular */
    object-fit: cover; /* Ensure image covers the circle */
    cursor: pointer;
    transition: 0.3s;
  }
  .exploreMenuListItem img:hover {
    transform: scale(1.05); /* Optional: slight zoom effect on hover */
  }
  .exploreMenuListItem .depName {
    color: #7A918D;
    font-weight: 500;
    margin-top: 10px;
  }
  @media (max-width: 1050px) {
    .exploreMenuText {
      max-width: 100%;
      font-size: 14px;
    }
  }














