.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../Assests/about.jpg");

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    z-index: 0;
}
.bannerContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.bannerHeading {
    color: white;
    font-size: 40px;
}
.bannerParagraph {
    color: white;
    margin-top: 20px;
    text-align: center;
}